*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas{
    border: 2px solid black;
    weight: 1280px;
    height: 720px;
    display: inline-grid;
    gap: 3px;
    padding: 3px;
    background-color: #d9d6d6;

    image-rendering: optimizeSpeed;
    image-rendering: pixelated;

}

html, body{
    height: 100%;
}
body{
    background-color: #a1a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar, .container{
    background-color: rgb(28, 28, 29);
    width: 800px;
    border-radius: 3px;
}
.navbar{
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector{
    width: 800px;
    border-radius: 3px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    vertical-align: middle;

}

.btn, input{
    height: 35px;
    padding: 0 2em;
    margin: 0 1em;
}
.color{
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.container{
    --size: 4;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 3px;
    padding: 3px;
}
.pixel{
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
}
